.wp-block-wcag-compliant-blocks-pricing-tables {
	display: block;

	.pricing-tables-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--wp--preset--spacing--40);
		margin: var(--wp--preset--spacing--80) 0;

		.pricing-tier {
			width: 100%;
			max-width: 300px;
			border: 2px solid rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			padding: var(--wp--preset--spacing--40);
			background: #fff;
			box-shadow: var(--wp--preset--shadow--sharp);
			transition: transform 0.3s ease;
			text-align: center;
			will-change: transform;

			&:hover:not(.featured),
			&:focus {
				transform: translateY(-5px);
			}

			h3 {
				margin-top: 0;
			}

			.price {
				font-size: var(--wp--preset--font-size--large);
				font-family: var(--wp--preset--font-family--fira-code);
				font-weight: 400;
				margin-bottom: 1rem;
			}

			.description {
				margin-bottom: 0;
			}

			.features-list {
				padding: 0;
				margin: 0.5em 0 2em 0;

				li {
					list-style-type: none;

					/* Style for excluded features */
					&.excluded-feature {
						text-decoration: line-through;
						opacity: 0.75;
					}
				}
			}

			.button {
				display: block;
				background-color: var(--wp--preset--color--contrast);
				border-width: 0;
				color: var(--wp--preset--color--base);
				font-family: inherit;
				font-size: var(--wp--preset--font-size--medium);
				font-weight: 600;
				line-height: inherit;
				padding-top: 1rem;
				padding-right: 2.25rem;
				padding-bottom: 1rem;
				padding-left: 2.25rem;
				text-decoration: none;
				transition: background-color .2s ease-in;

				&:hover {
					background-color: var(--wp--preset--color--accent-3);
				}
			}

			&.featured {
				margin-top: 40px;
				transform: none;
				border: 2px solid var(--wp--preset--color--accent-3);
				position: relative;
				box-shadow: var(--wp--preset--shadow--sharp);

				.best-deal-label {
					position: absolute;
					width: 60%;
					min-width: 10rem;
					height: 40px;
					text-align: center;
					line-height: 40px;
					border-radius: 10px 10px 0 0;
					top: -40px;
					left: 50%;
					transform: translateX(-50%);
					background-color: var(--wp--preset--color--accent-3);
					color: #fff;
					font-weight: 500;
				}

				.button {
					background-color: var(--wp--preset--color--accent-3);

					&:hover {
						background-color: var(--wp--preset--color--contrast);
					}
				}
			}
		}

		/*
		* Use a min-width media query to apply styles only when the viewport
		* is 768px or wider.
		*/
		@media (min-width: 768px) {
			flex-direction: row; /* Change to a horizontal layout */
			justify-content: center;

			/*
			* Make each pricing tier flexible. We use flex-basis to control the minimum size.
			* This allows tiers to wrap or grow depending on how many are in the container.
			*/
			.pricing-tier {
				flex: 1 1 300px; /* Each tier can grow, shrink, and has a starting width of 300px */

				&.featured {
					margin-top: 0;
					transform: translateY(-20px);
				}
			}

			/* Two tiers per row */
			&.tables--2 .pricing-tier {
				flex-basis: calc(50% - var(--wp--preset--spacing--40));
			}
			
			/* Three tiers per row */
			&.tables--3 .pricing-tier {
				flex-basis: calc(33.333% - var(--wp--preset--spacing--40));
			}
		}
	}
}

/*
 * Use a media query to detect a user's system preference for reduced motion.
 * When this preference is active, override the default transitions with a much
 * faster and less jarring animation.
 */
@media (prefers-reduced-motion: reduce) {
    .wp-block-wcag-compliant-blocks-pricing-tables .pricing-tables-container .pricing-tier,
	.wp-block-wcag-compliant-blocks-pricing-tables .pricing-tables-container .pricing-tier .button {
        /* Very short transition duration to create a "quick-snap" effect */
        transition-duration: 0.05s;
    }
}
